body {
	font: 12px "Helvetica", "Arial", sans-serif;
	margin: 0px;
	line-height: 1.45em;
}

a {
	font-weight: bold;
}

table {
	border: 1px solid #eee;
	margin: 20px;
	text-align: left;
}

#front-center {
	margin: 20px auto auto;
	width: 350px;
}

#main-left {
	text-align: center;
	left: 0px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}

#main-right {
	padding-top: 20px;
	width: 250px;
}


#title {
	margin-top: 10px;
	font-weight: bold;
	font-size: 24px;
}

#url {
	display: block;
	margin-top: 10px;
	font-weight: bold;
	color: #888;
	text-decoration: none;
}

.main-topic {
	display: block;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0.2em;
}

.main-topic:hover {
	color: #3875d7;
}

.main-topic:active {
	color: #214989;
}

.main-desc {
	color: #888;
	font-weight: bold;
	margin-bottom: 1em;
}

#header-feeds {
	padding: 10px;
	padding-top: 15px;
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #333b43;
	background: #bec9d2 url(../images/backend/feed-bg.png) top left repeat-x;
	text-shadow: #edf4fb 0px 1px 0px;
	border-bottom: 1px solid #939da6;
}

#header {
	padding: 15px;
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #444;
	background: #F9F9F9;
	text-shadow: #FFF 0px 1px 0px;
	border-bottom: 1px solid #EEE;
}

.light {
	color: #999;
	text-decoration: none;
}

.light:hover {
	color: #CCC;
}

.light:active {
	color: #AAA;
}

#content {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 40px;
}

.topic {
	font-weight: bold;
	padding: 1em;
	padding-bottom: 0.9em;
	padding-left: 31px;
	border: 1px solid #CCC;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url(../images/backend/arrow-c.png) 15px center no-repeat;
	cursor: hand;
}

.topic:hover {
	background-color: #EEE;
}

.topic:active {
	background-color: #DDD;
	border-color: #BBB;
}

.detail {
	display: none;
	margin-left: 15px;
	margin-bottom: 2em;
}

p img {
	vertical-align: middle;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-top: -5px;
	margin-left: 3px;
	margin-right: 3px;
}

li {
	margin-left: -20px;
}

.tip {
	border: 1px dashed #DDD;
	padding: 10px;
	padding-left: 25px;
	background: url(../images/backend/tip.png) 10px 11px no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.error {
	border: 1px dashed #DDD;
	padding: 10px;
	padding-left: 25px;
	background: url(../images/backend/warning.png) 10px 11px no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}



form {
	margin-top: 30px;
}

input, textarea, select {
	margin: .4em 0 1em;
	padding: 3px;
}

label {
	font-weight: 700;
}

label span {
	color: #999;
	font-weight: 400;
}

input[type=text], input[type=password], select, textarea {
	width: 240px;
}
