body {
	font: 12px Helvetica,Arial,sans-serif;
	line-height: 1.45em;
	margin: 0;
}

a {
	font-weight: bold;
}

table {
	border: 1px solid #eee;
	text-align: left;
	margin: 20px;
}

#front-center {
	width: 350px;
	margin: 20px auto auto;
}

#main-left {
	text-align: center;
	left: 0;
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}

#main-right {
	padding-top: 20px;
	width: 250px;
}

#title {
	margin-top: 10px;
	font-weight: bold;
	font-size: 24px;
}

#url {
	display: block;
	margin-top: 10px;
	font-weight: bold;
	color: #888;
	text-decoration: none;
}

.main-topic {
	display: block;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: .2em;
}

.main-topic:hover {
	color: #3875d7;
}

.main-topic:active {
	color: #214989;
}

.main-desc {
	color: #888;
	font-weight: bold;
	margin-bottom: 1em;
}

#header-feeds {
	font-size: 18px;
	font-weight: bold;
	color: #333b43;
	background: #bec9d2 url(/backend/feed-bg.png) top left repeat-x;
	text-shadow: #edf4fb 0 1px 0;
	border-bottom: 1px solid #939da6;
	padding: 15px 10px 10px 20px;
}

#header {
	font-size: 18px;
	font-weight: bold;
	color: #444;
	background: #F9F9F9;
	text-shadow: #FFF 0 1px 0;
	border-bottom: 1px solid #EEE;
	padding: 15px 15px 15px 20px;
}

.light {
	color: #999;
	text-decoration: none;
}

.light:hover {
	color: #CCC;
}

.light:active {
	color: #AAA;
}

#content {
	padding: 6px 20px 40px;
}

.topic {
	font-weight: bold;
	border: 1px solid #CCC;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url(/backend/arrow-c.png) 15px center no-repeat;
	cursor: hand;
	padding: 1em 1em .9em 31px;
}

.topic:hover {
	background-color: #EEE;
}

.topic:active {
	background-color: #DDD;
	border-color: #BBB;
}

.detail {
	display: none;
	margin-left: 15px;
	margin-bottom: 2em;
}

p img {
	vertical-align: middle;
	padding: 4px 0;
	margin-top: -5px 3px 0 3px;

}

li {
	margin-left: -20px;
}

.tip {
	background: url(/backend/tip.png) 10px 11px no-repeat;
}

.error {
	background: url(/backend/warning.png) 10px 11px no-repeat;
}

.error, .tip, fieldset {
	border: 1px dashed #DDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px 10px 10px 25px;
}

form {
	margin-top: 30px;
}

legend {
	font-weight: bold;
}

input, textarea, select {
	margin: .4em 0 1em;
	padding: 3px;
}

label {
	font-weight: 700;
}

label span {
	color: #999;
	font-weight: 400;
}

input[type=text], input[type=password], select, textarea {
	width: 240px;
}

